In [1]:
import pandas as pd
from pathlib import Path

In [2]:
jan_path = Path('Resources/JC-202201-citibike-tripdata.csv')
apr_path = Path('Resources/JC-202204-citibike-tripdata.csv')
jul_path = Path('Resources/JC-202207-citibike-tripdata.csv')
oct_path = Path('Resources/JC-202210-citibike-tripdata.csv')

jan_df = pd.read_csv(jan_path)
apr_df = pd.read_csv(apr_path)
jul_df = pd.read_csv(jul_path)
oct_df = pd.read_csv(oct_path)

jan_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [3]:
jan_df['season'] = "winter"
jan_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,winter
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,winter
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter

In [4]:
apr_df['season'] = "spring"
apr_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season
0,919C40A703A965D7,electric_bike,2022-04-15 15:02:20,2022-04-15 15:57:16,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,casual,spring
1,3B40831921DAD6C1,classic_bike,2022-04-08 10:20:55,2022-04-08 10:25:29,JC Medical Center,JC011,Grand St,JC102,40.716540,-74.049638,40.715178,-74.037683,member,spring
2,69C5C0766309F73D,electric_bike,2022-04-09 14:14:04,2022-04-09 14:18:51,Mama Johnson Field - 4 St & Jackson St,HB404,Southwest Park - Jackson St & Observer Hwy,HB401,40.743140,-74.040041,40.737551,-74.041664,member,spring
3,304B82055A1D4A24,classic_bike,2022-04-05 19:43:37,2022-04-05 19:51:14,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735938,-74.030305,40.740802,-74.042521,casual,spring
4,1CB760ECBCB08609,classic_bike,2022-04-17 11:25:26,2022-04-17 11:29:45,Mama Johnson Field - 4 St & Jackson St,HB404,Mama Johnson Field - 4 St & Jackson St,HB404,40.743140,-74.040041,40.743140,-74.040041,member,spring

In [5]:
jul_df['season'] = "summer"
jul_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season
0,89CDCE3224502904,classic_bike,2022-07-21 18:19:45,2022-07-21 18:28:21,Marshall St & 2 St,HB408,8 St & Washington St,HB603,40.740802,-74.042521,40.745984,-74.028199,member,summer
1,3E6E50F51BD4CBD9,electric_bike,2022-07-21 17:50:57,2022-07-21 17:59:17,Marshall St & 2 St,HB408,11 St & Washington St,HB502,40.740802,-74.042521,40.749985,-74.027150,casual,summer
2,8A9058FAA9115562,electric_bike,2022-07-23 11:51:55,2022-07-23 11:59:16,Marshall St & 2 St,HB408,Oakland Ave,JC022,40.740802,-74.042521,40.737604,-74.052478,member,summer
3,C566A187663748AE,classic_bike,2022-07-30 20:34:40,2022-07-30 20:48:40,Marshall St & 2 St,HB408,Bloomfield St & 15 St,HB203,40.740802,-74.042521,40.754530,-74.026580,member,summer
4,7E754D57276BE57E,classic_bike,2022-07-14 18:42:34,2022-07-14 18:49:45,Marshall St & 2 St,HB408,Clinton St & 7 St,HB303,40.740802,-74.042521,40.745420,-74.033320,casual,summer

In [6]:
oct_df['season'] = 'autumn'
oct_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season
0,705B9BE3434233E7,classic_bike,2022-10-27 11:20:23,2022-10-27 11:55:47,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member,autumn
1,660EE8D1E1D21D0F,classic_bike,2022-10-23 22:56:06,2022-10-23 23:09:03,Grove St PATH,JC005,McGinley Square,JC055,40.719586,-74.043117,40.725340,-74.067622,member,autumn
2,81CCDC472990FD62,electric_bike,2022-10-30 17:47:15,2022-10-30 17:49:42,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member,autumn
3,155ABDCC56D1E9D3,classic_bike,2022-10-11 17:28:53,2022-10-11 17:31:39,Grove St PATH,JC005,Jersey & 3rd,JC074,40.719586,-74.043117,40.723332,-74.045953,member,autumn
4,47DB1136D49EDA96,classic_bike,2022-10-16 22:22:34,2022-10-16 22:27:18,Marshall St & 2 St,HB408,9 St HBLR - Jackson St & 8 St,HB305,40.740802,-74.042521,40.747907,-74.038412,member,autumn

In [7]:
jan_apr_df = pd.concat([jan_df, apr_df], ignore_index=True)
jan_apr_jul_df = pd.concat([jan_apr_df, jul_df], ignore_index=True)
citibike_year_df = pd.concat([jan_apr_jul_df, oct_df], ignore_index=True)
citibike_year_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,winter
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,winter
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter

In [8]:
citibike_year_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season
287345,29D7126C0D802E5B,electric_bike,2022-10-08 07:38:41,2022-10-08 07:44:43,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member,autumn
287346,D50B41C904A7C5B3,electric_bike,2022-10-27 08:56:15,2022-10-27 09:02:04,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member,autumn
287347,B4240A4EEB9DB4D5,classic_bike,2022-10-23 08:28:34,2022-10-23 08:34:12,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754578,-74.026704,40.746413,-74.037977,member,autumn
287348,5F76013D50A68AA7,classic_bike,2022-10-12 12:19:26,2022-10-12 12:26:01,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member,autumn
287349,D47114548D40A009,classic_bike,2022-10-14 08:46:52,2022-10-14 08:52:54,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754364,-74.026664,40.746413,-74.037977,member,autumn

In [9]:
citibike_year_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287350 entries, 0 to 287349
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             287350 non-null  object
 1   rideable_type       287350 non-null  object
 2   started_at          287350 non-null  object
 3   ended_at            287350 non-null  object
 4   start_station_name  287350 non-null  object
 5   start_station_id    287350 non-null  object
 6   end_station_name    286075 non-null  object
 7   end_station_id      286075 non-null  object
 8   start_lat           287350 non-null  float64
 9   start_lng           287350 non-null  float64
 10  end_lat             286584 non-null  float64
 11  end_lng             286584 non-null  float64
 12  member_casual       287350 non-null  object
 13  season              287350 non-null  object
dtypes: float64(4), object(10)
memory usage: 30.7+ MB

In [10]:
citibike_year_df.dropna()
citibike_year_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287350 entries, 0 to 287349
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             287350 non-null  object
 1   rideable_type       287350 non-null  object
 2   started_at          287350 non-null  object
 3   ended_at            287350 non-null  object
 4   start_station_name  287350 non-null  object
 5   start_station_id    287350 non-null  object
 6   end_station_name    286075 non-null  object
 7   end_station_id      286075 non-null  object
 8   start_lat           287350 non-null  float64
 9   start_lng           287350 non-null  float64
 10  end_lat             286584 non-null  float64
 11  end_lng             286584 non-null  float64
 12  member_casual       287350 non-null  object
 13  season              287350 non-null  object
dtypes: float64(4), object(10)
memory usage: 30.7+ MB

In [11]:
citibike_year_df['started_at'] = pd.to_datetime(citibike_year_df['started_at'])
citibike_year_df['ended_at'] = pd.to_datetime(citibike_year_df['ended_at'])
citibike_year_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287350 entries, 0 to 287349
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             287350 non-null  object
 1   rideable_type       287350 non-null  object
 2   started_at          287350 non-null  datetime64[ns]
 3   ended_at            287350 non-null  datetime64[ns]
 4   start_station_name  287350 non-null  object
 5   start_station_id    287350 non-null  object
 6   end_station_name    286075 non-null  object
 7   end_station_id      286075 non-null  object
 8   start_lat           287350 non-null  float64
 9   start_lng           287350 non-null  float64
 10  end_lat             286584 non-null  float64
 11  end_lng             286584 non-null  float64
 12  member_casual       287350 non-null  object
 13  season              287350 non-null  object
dtypes: datetime64[ns](2), float64(4), object(8)
memory usage: 30.7+ MB

In [12]:
citibike_year_df['ride_time'] = citibike_year_df['ended_at'] - citibike_year_df['started_at']
citibike_year_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season,ride_time
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter,0 days 00:01:14
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,winter,0 days 00:06:16
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member,winter,0 days 00:05:24
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter,0 days 00:00:25
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member,winter,0 days 00:00:57

In [13]:
#code taken from https://stackoverflow.com/questions/27928/calculate-distance-between-two-latitude-longitude-points-haversine-formula
from math import cos, asin, sqrt, pi

def distance(row):
    lat1 = row['start_lat']
    lon1 = row['start_lng']
    lat2 = row['end_lat']
    lon2 = row['end_lng']
    r = 6371 # km
    p = pi / 180

    a = 0.5 - cos((lat2-lat1)*p)/2 + cos(lat1*p) * cos(lat2*p) * (1-cos((lon2-lon1)*p))/2
    return 2 * r * asin(sqrt(a))

citibike_year_df['ride_distance'] = citibike_year_df.apply(distance, axis=1)
citibike_year_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,season,ride_time,ride_distance
287345,29D7126C0D802E5B,electric_bike,2022-10-08 07:38:41,2022-10-08 07:44:43,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member,autumn,0 days 00:06:02,1.317723
287346,D50B41C904A7C5B3,electric_bike,2022-10-27 08:56:15,2022-10-27 09:02:04,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member,autumn,0 days 00:05:49,1.317723
287347,B4240A4EEB9DB4D5,classic_bike,2022-10-23 08:28:34,2022-10-23 08:34:12,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754578,-74.026704,40.746413,-74.037977,member,autumn,0 days 00:05:38,1.313859
287348,5F76013D50A68AA7,classic_bike,2022-10-12 12:19:26,2022-10-12 12:26:01,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754530,-74.026580,40.746413,-74.037977,member,autumn,0 days 00:06:35,1.317723
287349,D47114548D40A009,classic_bike,2022-10-14 08:46:52,2022-10-14 08:52:54,Bloomfield St & 15 St,HB203,7 St & Monroe St,HB304,40.754364,-74.026664,40.746413,-74.037977,member,autumn,0 days 00:06:02,1.299957

In [14]:
citibike_year_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287350 entries, 0 to 287349
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             287350 non-null  object
 1   rideable_type       287350 non-null  object
 2   started_at          287350 non-null  datetime64[ns]
 3   ended_at            287350 non-null  datetime64[ns]
 4   start_station_name  287350 non-null  object
 5   start_station_id    287350 non-null  object
 6   end_station_name    286075 non-null  object
 7   end_station_id      286075 non-null  object
 8   start_lat           287350 non-null  float64
 9   start_lng           287350 non-null  float64
 10  end_lat             286584 non-null  float64
 11  end_lng             286584 non-null  float64
 12  member_casual       287350 non-null  object
 13  season              287350 non-null  object
 14  ride_time           287350 non-null  timedelta64[ns]
 15  ride_distance       286584 non-null  float64
dtypes: datetime64[ns](2), float64(5), object(8), timedelta64[ns](1)
memory usage: 35.1+ MB

In [15]:
citibike_year_df.to_csv('citibike_seasons.csv', index=False)